//@import "colours";

.btn-success {
  background-color: $primary-color;
  color: white;
}

.btn-success:hover {
  opacity: 0.7;
  //background-color: $original-light;//$original-dark;
  color: white;
}
