// $original-logo-color: #50b849;
// $original-light: #84eb78;
// $original-dark: #0b8719;

//material design default closest to: #355B36
// $original-logo-color: #33691e;
// $original-light: #629749;
// $original-dark: #003d00;

//matched
$original-logo-color: #355b36;
$original-light: #618860;
$original-dark: #0a3110;

//theses should be customized for this website
$danger-color: #cf1322;//#FC3932;
$success-color: #389e0d;//#46C000;
$action-color:#608BD8;