/*Navbar */

.navbar{
  background-color: $primary-color;
}

.nav-link{
  color: white !important;
}

nav img {
  width: 150px;
  cursor: pointer;
}
@media all and (max-width: 992px) {
  nav img {
    width: 125px;
    cursor: pointer;
  }
}

/*hover drop down*/
@media all and (min-width: 992px) {
  #navbarNav{
    margin-top: 14px;
  }
    .navbar .nav-item .dropdown-menu {
      display: none;
    }
    .navbar .nav-item:hover .dropdown-menu {
      display: block;
    }
    .navbar .nav-item .dropdown-menu {
      margin-top: -24px;
    }
    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
      flex-direction: row-reverse;
    }
    
  }
  
  @media (min-width: 600px) {
    .navbar.scrolling-navbar {
      padding-top: 6px;
      padding-bottom: 6px;
      transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
  }

  
  @media (min-width: 600px) {
    .navbar.scrolling-navbar.top-nav-collapse {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  
  @media (min-width: 600px) {
    .navbar.scrolling-navbar {
      padding-top: 6px;
      padding-bottom: 6px;
      transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
  }
  
  .page-footer,
.top-nav-collapse {
  background-color: #ffffff;
}

.dropdown-toggle:after {
    display: none;
  }
  
  .navbar-nav .nav-link {
    color: black//$original-logo-color !important;
  }
  
  .navbar-nav .nav-link:hover {
    color: black//$original-dark !important;
  }
  
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0.75rem;
      padding-left: 0.75rem;
    }
  }
  
  .navbar-dark .navbar-toggler {
    color: white;
  }
  
  // dropdown-item:hover {
  //   color: white;
  // }
  
  .dropdown-menu {
    background-color: white;//rgba(0, 80, 24, 1);
    border-radius: 0 !important;
    .dropdown-item {
      color: white;//$primary-color;//$original-logo-color;
      border-radius: 0 !important;
    }
  }
  
  .dropdown-item:hover, a.nav-link:hover{
    color: black !important;
  }

  @media (max-width: 991px) {
  .dropdown-item:hover{
    background-color: $primary-color;
  }
}

  @media (min-width: 992px) {
    .navbar-nav {
      .dropdown-menu{
          display: block ;
          position: relative;
          .dropdown-item {
             color: $primary-color;
          }
         
      }
    }
  }

   @media screen and (max-width: 992px) {
    .navbar-nav {
      .dropdown-menu {
        background-color: transparent;
        display: block !important;
        position: relative;
        top: 0;
        //text-align: center;
        box-shadow: none;
        margin-bottom: 0;
        .dropdown-item {
          padding: 0;
        }
      }
      .nav-full-menu {
        li {
          margin-bottom: 0;
        }
      }
    }
    .dropdown-menu {
      background-color: transparent;
      display: block !important;
      position: relative;
    }
  }

.subMenu{
  width: 100vw;
  background-color: #EAF2F4;
  height: 64px;
}

@media screen and (min-width: 992px) {
  .subMenu{
    position: fixed;
    top: 88px;
  }
}

.subMenu .flex-horizontal-vertical-between{
  height: 64px;
}

.subMenu li{
  list-style: none;
  color: $primary-color !important;
  padding: 0 20px;
}

.subMenu li a:hover{
  color: black;//$primary-color !important;
}

.subMenuItem{
  line-height: 0.1rem;
}


@media (max-width: 991px) {
  .subMenu{
    display: none;
  }
}