@import "colours";
@import "buttons";

@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  //   Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Exo", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*Navbar */

/*hover drop down*/
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  /* .navbar .nav-item:hover .nav-link{   } */
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-direction: row-reverse;
  }
}

@media (min-width: 600px) {
  .navbar.scrolling-navbar {
    padding-top: 12px;
    padding-bottom: 12px;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
}

.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (min-width: 600px) {
  .navbar.scrolling-navbar.top-nav-collapse {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (min-width: 600px) {
  .navbar.scrolling-navbar {
    padding-top: 12px;
    padding-bottom: 12px;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
}

.page-footer,
.top-nav-collapse {
  background-color: #ffffff;
}

.dropdown-toggle:after {
  display: none;
}

.navbar-nav .nav-link {
  color: $original-logo-color !important;
}

.navbar-nav .nav-link:hover {
  color: $original-dark !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

.navbar-dark .navbar-toggler {
  color: $original-logo-color !important;
}

header {
  background-color: rgba(0, 80, 24, 0.8);
  color: whitesmoke;
}

footer {
  // background-color: $original-dark;
  background-color: rgba(0, 80, 24, 1);
  hr {
    background-color: whitesmoke;
  }
  h5 {
    color: $original-light;
  }
  a,
  li {
    color: whitesmoke;
  }
  a:hover {
    color: $original-logo-color;
  }
  .copyright {
    background-color: $original-dark;
    color: $original-logo-color;
    a {
      color: whitesmoke;
    }
    a:hover {
      color: $original-light;
    }
  }
}

.mask {
  background-color: rgba(0, 80, 24, 0.8);
}

.card {
  margin-bottom: 2rem;
}

#map {
  width: 90%;
}

form {
  display: flex;
  flex-direction: column;
  background-color: $original-dark;
  label {
    color: whitesmoke;
  }
}
